h1 {
    text-align: center;
    color: var(--color-gray-300);
    font-size: var(--main-title-size);
}

form {
    max-width: 35rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--color-gray-600);
    border-radius: 6px;
    text-align: center;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

 #title, #summary, #price {
    text-align: center;
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
    border-color: red
}

#image-upload-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-upload-control input {
    max-width: 20rem;
}

#image-upload-control img {
    width: 15rem;
    aspect-ratio: 0.8;
    object-fit: cover;
    border-radius: small;
}
